@charset "UTF-8";


body {
	font: normal 12px Arial;
	
}

table {
	width: 70%;
}
tr > th {
	background-color: #d3d3d3;
}

tr.linha1 > td {
	background-color: #DCDCDC;
}

tr.linha2 > rd {
	background-color: #FFFFFF;
}

.info {
	color: #00F;
}

.warn {
	color: #CC0;
}

.erro {
	color: #cc0000;
}

.fatal {
	color: #F00;
	font-weight: bold;
}